<div>
  <div nz-row>
    <h3 nz-card-grid nzSpan="8" nz-col [ngStyle]="gridStyle">
      Balance:
      <span style="color: slateblue">£{{ status?.balance }}</span>
    </h3>

    <h3 nz-card-grid nzSpan="8" nz-col [ngStyle]="gridStyle">
      Total Income:
      <span style="color: green">£{{ status?.income }}</span>
    </h3>

    <h3 nz-card-grid nzSpan="8" nz-col [ngStyle]="gridStyle">
      Total Expense:
      <span style="color: red">£{{ status?.expense }}</span>
    </h3>
  </div>

  <div nz-row style="margin-top: 20px">
    <div nz-col nzFlex="3">
      <nz-card nzType="inner" nzTitle="Income Chart">
        <canvas #incomeLineChartRef></canvas>
      </nz-card>
    </div>

    <div nz-col nzFlex="1" style="margin-left: 20px">
      <nz-card nzType="inner" nzTitle="Recent History">
        <div nz-card-grid style="width: 100%">
          <span style="color: green">
            +£{{ status?.latestIncome?.amount }}
            {{ status?.latestIncome?.title }}
          </span>
        </div>
        <div nz-card-grid style="width: 100%">
          <span style="color: red">
            -£{{ status?.latestExpense?.amount }}
            {{ status?.latestExpense?.title }}
          </span>
        </div>
      </nz-card>

      <nz-card nzType="inner" nzTitle="Income" style="margin-top: 20px">
        <div nz-row>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            Minimum: £{{ status?.minIncome }}
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            Maximum: £{{ status?.maxIncome }}
          </div>
        </div>
      </nz-card>

      <nz-card nzType="inner" nzTitle="Expense" style="margin-top: 20px">
        <div nz-row>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            Minimum: £{{ status?.minExpense }}
          </div>
          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            Maximum: £{{ status?.maxExpense }}
          </div>
        </div>
      </nz-card>
    </div>
  </div>

  <div nz-row style="margin-top: 20px">
    <div nz-col nzFlex="1 1 200px">
      <nz-card nzType="inner" nzTitle="Expense Chart">
        <canvas #expenseLineChartRef></canvas>
      </nz-card>
    </div>
  </div>
</div>
