<div>
  <div nz-row>
    <div nz-col nzFlex="2">
      <nz-card nzType="inner" style="margin-top: 16px" nzTitle="Update Income">
        <form
          nz-form
          [formGroup]="incomeForm"
          class="custom-form"
          (ngSubmit)="submitForm()"
        >
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your title!">
              <input
                nz-input
                formControlName="title"
                placeholder="Enter title"
                type="text"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your amount!">
              <input
                nz-input
                formControlName="amount"
                placeholder="Enter amount"
                type="number"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input date!">
              <nz-date-picker
                formControlName="date"
                nzPlaceHolder="Select date"
                style="width: 100%"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <textarea
                nz-input
                formControlName="description"
                placeholder="Enter description"
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
              ></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <nz-select
                nzAllowClear
                formControlName="category"
                nzPlaceHolder="Select category"
              >
                <nz-option
                  *ngFor="let category of categories"
                  [nzLabel]="category"
                  [nzValue]="category"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <button
            nz-button
            nzType="primary"
            nzBlock="incomeForm.valid"
            class="w-100"
          >
            Update Income
          </button>
        </form>
      </nz-card>
    </div>
  </div>
</div>
