<!-- Creating a form controls and calling post expense API -->
<div>
  <div nz-row>
    <div nz-col nzFlex="2">
      <nz-card nzType="inner" style="margin-top: 16px" nzTitle="Add Expense">
        <form
          nz-form
          [formGroup]="expenseForm"
          (ngSubmit)="submitForm()"
          class="custom-form"
        >
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your expense name!">
              <input
                type="text"
                nz-input
                formControlName="title"
                placeholder="Expense title"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your amount">
              <input
                type="number"
                nz-input
                formControlName="amount"
                placeholder="Enter amount"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your expense date">
              <nz-date-picker
                formControlName="date"
                nzPlaceHolder="Select date"
                style="width: 100%"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <textarea
                nz-input
                formControlName="description"
                placeholder="Enter description"
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
              ></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <nz-select
                formControlName="category"
                nzAllowClear
                nzPlaceHolder="Select category"
              >
                <nz-option
                  *ngFor="let category of categories"
                  [nzLabel]="category"
                  [nzValue]="category"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <button
            nz-button
            nzType="primary"
            nzBlock
            [disabled]="expenseForm.invalid"
            class="w-100"
          >
            Add Expense
          </button>
        </form>
      </nz-card>
    </div>

    <!-- Form to display the list of expenses -->
    <div nz-col nzFlex="3" style="margin-left: 20px">
      <nz-card
        nzType="inner"
        style="margin-top: 16px"
        nzTitle="Expense History"
      >
        <div nz-card-grid style="width: 100%" *ngFor="let expense of expenses">
          <div nz-row>
            <div nz-col nzSpan="18">
              <span nz-icon nzType="message" nzTheme="outline"></span>
              {{ expense.title }}
              -
              <span nz-icon nzType="pound" nzTheme="outline"></span>
              {{ expense.amount }}
              -
              <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
              {{ expense.date | date : "medium" }}
              -
              <span nz-icon nzType="comment" nzTheme="outline"></span>
              {{ expense.category }}
            </div>
            <div nz-col nzSpan="6" style="font-size: 15px">
              <span
                nz-icon
                nzType="edit"
                nzTheme="fill"
                style="color: blue"
                (click)="updateExpense(expense.id)"
              ></span>
              <span
                nz-icon
                nzType="delete"
                nzTheme="fill"
                style="color: red; margin-left: 10px"
                (click)="deleteExpense(expense.id)"
              ></span>
            </div>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>
